@{
    ViewData["Title"] = "Projeto";
    ViewData["SubTitle"] = "Sistema Web com ASP .NET Core MVC e Entity Framework";
    ViewData["Autor"] = "Davidson Almeida";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>@ViewData["SubTitle"]</h2>
    <p>@ViewData["Autor"]</p>
</div>
